
language: ruby
cache: bundler
branches:
  only:
  - master
before_install:
- gem install bundler -v 2.0.1
script:
  - JEKYLL_ENV=production bundle exec jekyll build --destination site
deploy:
  repo: 8bits-code/8bits-code.github.io
  provider: pages
  local-dir: ./site
  target-branch: master
  email: deploy@travis-ci.org
  name: Deployment Bot
  skip-cleanup: true
  github-token: 091cafe0d869cfcd7e8ccad62c114a199281389f
  keep-history: true
  on:
    branch: master
